<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || "WeatherAPP"%></title>
    <link rel = "stylesheet" href="/css/style.css"/>
</head>
<body>
    <header>
        <div>
        <img src="/images/cloud.png" alt="Weather Icon" class="weather-icon">
        <h1>WEATHER FORECAST</h1>
        </div>
        <nav><a href="/">Home</a></nav>
    </header>
    <main>